<div class="full-height row">
	<%= grid_md_6 class: "middle-xs center-xs" do%>
		<h1>Bienvenido a Live Link.</h1>
		<%= link_to "Crear cuenta", new_user_registration_path, class:"right-space"  %>
		<%= link_to "Iniciar sesión", new_user_session_path  %>
	<%end%>
</div>